.dynamic-blog {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;

  .dynamic-blog-title {
    text-align: center;
    align-self: center;
    font-size: 46px;
    font-family: fangsong;
    font-weight: bold;
    color: #000;
  }

  .dynamic-blog-inner-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20.8px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 12.8px;
    }

    h6 {
      font-size: 11.2px;
    }

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
      width: 60%;
      min-width: 300px;
      box-shadow: 0 0 5px 2px #282a2d;
    }

    @media only screen and (min-width: 320px) and (max-width: 390px ) {
      img {
        min-width: 80vw;
      }
    }

    .dynamic-blog-elements {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dynamic-blog-date {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      border-bottom: 2px solid red;
      padding: 0 10px;
      color: black;
      font-family: fangsong;
      margin-top: 50px;
      background: #ffffff0f;
      border-radius: 15px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-start;
    background: black;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    padding: 6px 16px;
    border-radius: 15px;
    border: 2px solid #000;
    transition: 0.5s ease-out;
  }

  button:hover {
    background: rgba(255, 255, 255, 0);
    color: #000;
    border: 2px solid #000;
  }
}
